html
    head
        meta(charset='utf-8')
        script(src='../libs/vue/dist/vue.min.js')
        script(src='../scripts/test/vuetest.js')
    body
        h2 testvue
        div#app
            span {{ message }}
            //- span {{* msg }}
