html
    head
        meta(charset='utf-8')
        title index
        script(src='scripts/home/index.js')
        link(rel="stylesheet", href="assets/style/home/index.css")
    body
        a(href="page/test.html") testjad
        a(href="main.html") main.html test
        a(href="page/testvue.html") testvue
        a(href="page/typescript.html") testTypescript
